/* You can add global styles to this file, and also import other style files */
@import './css/variables';

body,
html {
  font-size: $default-pixel + 'px';
  font-family: $font-family-sans-serif;
  &,
  * {
    box-sizing: border-box;
  }
  * {
    font-size: rem-cal(14);
  }
}

h1 {
  font-size: rem-cal(26);
}
h2 {
  font-size: rem-cal(24);
}
h3 {
  font-size: rem-cal(22);
}
h4 {
  font-size: rem-cal(20);
}
h5 {
  font-size: rem-cal(18);
}
h6 {
  font-size: rem-cal(16);
}
a {
  color: theme-color($theme-auxiliary, 50);
  &:active,
  &:visited {
    color: theme-color($theme-auxiliary, 100);
  }
}

.show {
  display: block;
}
.hide {
  display: none;
}

.btn_close {
  position: relative;
  width: 26px;
  height: 26px;
  text-indent: -100em;
  font-size: 1rem;
  padding: 0px;
  cursor: pointer;
  overflow: hidden;
  &:before {
    content: 'X';
    position: absolute;
    font-size: rem-cal(22);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-indent: initial;
  }
}
