@import '../../../../css/variables';

:host {
  min-width: 100%;
  height: inherit;
  overflow: auto;
  padding: 8px;
  border: solid 1px theme-color($theme-primary, 900);

  .email_list {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  @include tablet() {
    min-width: 25%;
  }
}
