$theme-primary: (
  100: #ccf0ee,
  200: #99e0dd,
  300: #67d1cc,
  400: #34c1bb,
  500: #01b2aa,
  600: #018e88,
  700: #016b66,
  800: #004744,
  900: #002422,
);

$theme-auxiliary: (
  50: #00618c,
  100: #6610f2,
  200: #772c87,
  300: #e83e8c,
  400: #dc3545,
  500: #df532b,
  600: #fab133,
  700: #21d354,
  800: #01b2aa,
  900: #17a2b8,
);

$theme-grays: (
  50: #ffffff,
  100: #f8f9fa,
  200: #e9ecef,
  300: #dee2e6,
  400: #ced4da,
  500: #adb5bd,
  600: #6c757d,
  700: #495057,
  800: #343a40,
  900: #212529,
  1000: #000000,
);
