@import './colors';
@import './mixins';

// $theme-primary: mat-color($mat-primary, 500);
// $theme-secondary: mat-color($mat-primary, 500);
// $theme-on-primary: mat-color($mat-primary, 500);
// $theme-on-secondary: mat-color($mat-primary, 500);

$media-break-points: (
  xs: 600,
  sm: 768,
  md: 1024,
  lg: 1280,
  xl: 1440,
);

$font-family-serif: 'Times New Roman', Georgia, Serif;
$font-family-sans-serif: Arial, Helvetica, sans-serif;
